<div class="container">
  <div>
            <h2>  Modifier une Equipe :</h2>
  </div>
  <form >
          <div    class="col-sm-2 col-md-2 col-lg-2">
              <label >ID Equipe</label>
               <input  readonly type="text" [(ngModel)]="currentEquipe.idEquipe" name="idEquipe" class="form-control">
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4" >
              <label >Nom Equipe</label>
    <input type="text"[(ngModel)]= "currentEquipe.nomEquipe" name="nomEquipe" class="form-control">
    </div>


    <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Classement Equipe</label>
    <input type="number" [(ngModel)]= "currentEquipe.classementEquipe" name="classementEquipe" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
              <label >Date création</label>
    <input type="date" [ngModel]= "currentEquipe.dateCreation | date: 'yyyy-MM-dd'" (ngModelChange)="currentEquipe.dateCreation= $event" name="dateCreation" class="form-control">
    </div>

 <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Leagues</label>
      <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedLeaId">
      <option *ngFor="let lea of leagues" [value]="lea.idLea" >
      {{lea.nomLea}}
      </option>
      </select>
      </div>


    <div class="mt-2">
    <button type="submit" (click)="updateEquipe()" class="btn btn-success">Modifier</button>


    </div>
    </form>
    </div>

